<!--The content below is only a placeholder and can be replaced.-->
<p-panel>
  <p-header>
    <div class="ui-helper-clearfix">
      <span class="ui-panel-title" style="font-size:30px;display:inline-block;margin-top:2px;color: #6495ED;">
        Equipment Dashboard
      </span>
     
    </div>
  </p-header>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-md-6">
      <div class="ui-grid" style="font-size:30px;display:inline-block;margin-top:2px;color: #6495ED;">Oprational</div>
      <div class="ui-inputgroup">
        <div class="h5 mb-0 font-weight-bold text-gray-800" style="font-size:30px;display:inline-block;margin-top:2px;color: #6495ED;">
          {{ oprational }}
        </div>
      </div>
    </div>
  <div class="ui-g-12 ui-md-6">
    <div class="ui-grid" style="font-size:30px;display:inline-block;margin-top:2px;color: #6495ED;">Non-Oprational</div>
    <div class="ui-inputgroup">
      <div class="h5 mb-0 font-weight-bold text-gray-800" style="font-size:30px;display:inline-block;margin-top:2px;color: #6495ED;">
        {{ nonOperatinal }}
      </div>
    </div>
  </div>
 
  </div>
  
  
<div id="chart">
  <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart" [dataLabels]="chartOptions.dataLabels"
    [plotOptions]="chartOptions.plotOptions" [yaxis]="chartOptions.yaxis" [xaxis]="chartOptions.xaxis"
    [fill]="chartOptions.fill" [title]="chartOptions.title"></apx-chart>
</div>
  <p-footer>
    <button pButton type="button" label="Next" class="ui-button-info"
      style="margin-right: .25em" (click)="nextValue()"></button>
    <button pButton type="button" label="Back" class="ui-button-success" (click)="previousValue()"></button>
    <p-dropdown [(ngModel)]="selectedMax" [options]="items" optionLabel="label" filter="true" (onChange)="onValueChange()" [style]="{'margin-left':'5px'}">
     
      
    </p-dropdown>
  </p-footer>
</p-panel>


<router-outlet></router-outlet>
